body {
	background-image: -webkit-gradient(linear, 0 0, 16 1075.125, color-stop(0.012, #47a8de), color-stop(0.113, #51abe0), color-stop(0.113, #50ace0), color-stop(0.43, #98cae7), color-stop(0.43, #99c9e6), color-stop(0.519, #a6cbd9), color-stop(0.816, #799b60), color-stop(0.816, #799c5f), color-stop(0.879, #759a4e), to(#729e42));
	background-image: -webkit-linear-gradient(270.85261230446866deg, #47a8de 1.2%, #51abe0 11.3%, #50ace0 11.3%, #98cae7 43%, #99c9e6 43%, #a6cbd9 51.9%, #799b60 81.6%, #799c5f 81.6%, #759a4e 87.9%, #729e42);
	background-image: -moz-linear-gradient(270.85261230446866deg, #47a8de 1.2%, #51abe0 11.3%, #50ace0 11.3%, #98cae7 43%, #99c9e6 43%, #a6cbd9 51.9%, #799b60 81.6%, #799c5f 81.6%, #759a4e 87.9%, #729e42);
	background-image: -o-linear-gradient(270.85261230446866deg, #47a8de 1.2%, #51abe0 11.3%, #50ace0 11.3%, #98cae7 43%, #99c9e6 43%, #a6cbd9 51.9%, #799b60 81.6%, #799c5f 81.6%, #759a4e 87.9%, #729e42);
	background-image: linear-gradient(179.14738769553134deg, #47a8de 1.2%, #51abe0 11.3%, #50ace0 11.3%, #98cae7 43%, #99c9e6 43%, #a6cbd9 51.9%, #799b60 81.6%, #799c5f 81.6%, #759a4e 87.9%, #729e42);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

h4 {
	font-weight: 200;
}

p, li {
	font-size: 120%;
}

article {
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	margin: 20px;
}

header {
	text-align: center;
	padding: 10px;
	border-bottom: 1px solid black;
}

header > picture > img, #bus img {
	width: 75%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

section, header {
	border-bottom: 1px solid #eee;
	padding: 15px;
}

footer {
	margin-top: 15px;
	margin-bottom: -15px;
	padding: 10px;
	font-size: 80%;
}

section > h2 {
	margin-top: 10px;
}



.row {
	text-align: center;
	margin-bottom: 10px;
}

.thumbnail {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.google-maps {
	position: relative;
	padding-bottom: 50%; /* aspect ratio */
	height: 0;
	overflow: hidden;
}
.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

#nice > ul {
	list-style: none;
	padding-left: 0;
}

#nice > ul > li > small {
	padding-left: 20px;
}

#bus img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


@media (max-width: 576px) {
	/*let bg come through on mobile  */
	.container {
		width: 90%;
	}

	header > picture > img, #bus img {
		width: 100%;
	}
}
